html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}


img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

button {
    cursor: pointer;
    border: none;
}

body {
    font-family: 'fraunces';
}

.container {
    max-width: 1328px;
    padding: 0 24px;
    margin: 0 auto;
}